* {
    margin: 0; padding: 0;
}

html {
    height: 100%;
}

body {
    background-color: #1e2227;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;

    height: 100%;

    font-family: Arial, sans-serif;
    color: #e9e9e9;
}

#play-button {
    width: 150px;
    height: 150px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.title {
    margin-bottom: 40px;
    font-size: 40px;
    text-align: center;
}

#tempo {
    font-size: 40px;
}

.bpm {
    font-size: 12px;
    text-align: center;
}

.tempo-controls {
    margin-top: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
}

.tempo-container {
    margin: 0 15px;
}

button {
    padding: 6px;
    border: none;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin: 5px;
    background-color: #2a4949;
    color: #e9e9e9;
    cursor: pointer;
}

button:focus {
    outline: none;
}

.created-by {
    margin-top: 40px;
}

a {
    color: #e9e9e9;
}

a:hover {
    color: #356161;
}

.play {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 50px solid #e9e9e9;
    margin-left: 15px;
}

.pause {
    width: 15px;
    height: 60px;
    border: none;
    border-left: 15px solid #e9e9e9;
    border-right: 15px solid #e9e9e9;
}

#cache {
    display: none;
}
